@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/topography" as *;
@use "../../styles/partials/variables" as *;

.warehouses {
  width: 95%;
  margin: auto;
  border-radius: 4px;
  font-family: "titillium";
  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 80%;
  }

  &__header {
    padding: 0 1rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__header-container {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 50vw;
    }
  }
  &__title {
    font-size: $mobile-h1PageHeader_textSize;
    line-height: $mobile-h1PageHeader_lineHeight;
    padding-top: 2rem;
    font-family: "titillium";

    @include tablet {
      padding-top: 0;
    }
  }

  &__search {
    width: 100%;
    height: 36px;
    border-radius: 20px;
    text-indent: 1rem;
    border: 1px solid $cloud-outlines-dividers-borders-tableSortingIcon;

    @include tablet {
      margin-right: 1rem;
    }

    &:focus {
      border: 1px solid $instockIndigo-interactiveElements;
      outline: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    border-top: 2px solid $cloud-outlines-dividers-borders-tableSortingIcon;
    border-bottom: 2px solid $cloud-outlines-dividers-borders-tableSortingIcon;

    @include tablet {
      display: block;
      padding: 2rem 1rem;
      margin-top: 0;
      border-top: none;
    }
  }
  &__info-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }
  &__info-item {
    max-width: 40vw;
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      flex: 1;
      margin-left: 1rem;
    }

    &--actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      max-width: 100%;
      margin-top: 1rem;

      @include tablet {
        justify-content: space-evenly;
      }

      @include desktop {
      }
    }
  }

  &__info {
    margin: 0;

    &--address {
      margin-right: 3rem;
    }
    &--name {
      padding-left: 2rem;
    }
  }

  &__sub-title {
    margin-bottom: 0.5rem;
    color: $slate-tableColumnHeaders-placeholderText;
    font-size: $mobile-h4TableHeader_textSize;

    @include tablet {
      display: none;
    }
  }

  &__icons {
    cursor: pointer;
  }
}

.link-arrow {
  display: flex;
  align-items: center;
}

// Filter Bar
.table-headers {
  display: none;
  @include tablet {
    font-size: $tabletDesktop-h4TableHeader_textSize;
  }
  &__list {
    display: none;
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 0rem 2rem;
      list-style-type: none;
      align-items: center;
      font-size: $tabletDesktop-h4TableHeader_textSize;
      background-color: $lightGrey-pageBG-tableColumnHeadersBG-ctaBG;
      height: 2.5rem;
      margin: 0;
    }
  }

  &__item {
    @include tablet {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--contact {
      margin-left: 3rem;
    }
    &--contact-info {
      margin-right: 4rem;
    }
    &--action {
      padding-right: 3rem;
    }
  }
}
.filter-icon {
  height: 16px;
}
