@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/topography" as *;
@use "../../styles/partials/variables" as *;

.warehouses {
  width: 95%;
  margin: auto;
  border-radius: 4px;
  &__header {
    padding: 0 1rem;
  }
  &__header-container {
  }
  &__title {
    font-size: $mobile-h1PageHeader_textSize;
    line-height: $mobile-h1PageHeader_lineHeight;
    padding-top: 2rem;
  }

  &__search {
    width: 100%;
    height: 36px;
    border-radius: 20px;
    text-indent: 1rem;
    border: 1px solid $cloud-outlines-dividers-borders-tableSortingIcon;

    &:focus {
      border: 1px solid $instockIndigo-interactiveElements;
      outline: none;
    }
  }

  &__add-button {
    width: 100%;
    background-color: $instockIndigo-interactiveElements;
    border-radius: 20px;
    border: none;
    height: 36px;
    margin-top: 1rem;
    color: $white-globalWhite;

    &:hover {
      background-color: $graphite-navHeaderBG;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    border-top: 2px solid $cloud-outlines-dividers-borders-tableSortingIcon;
    border-bottom: 2px solid $cloud-outlines-dividers-borders-tableSortingIcon;
  }
  &__info-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__info-item {
    max-width: 40vw;
    flex: 1 1 45%;

    &--actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      max-width: 100%;
      margin-top: 1rem;
    }
  }

  &__info {
    margin: 0;
  }

  &__sub-title {
    margin-bottom: 0.5rem;
    color: $slate-tableColumnHeaders-placeholderText;
    font-size: $mobile-h4TableHeader_textSize;
  }

  &__icons {
    cursor: pointer;
  }
}

.link-arrow {
  display: flex;
  align-items: center;
}
