//These colors are solid colors at 100% opacity unless stated otherwise.

//primary colors
$instockBlack-globalText: #13182C;
$instockIndigo-interactiveElements: #2E66E5;
$white-globalWhite: #FFFFFF;

//secondary colors
$slate-tableColumnHeaders-placeholderText: #5C667E;
$cloud-outlines-dividers-borders-tableSortingIcon: #BDC5D5;

//background colors
$graphite-navHeaderBG: #232940;
$lightGrey-pageBG-tableColumnHeadersBG-ctaBG: #F7F8F9;

//supporting colors
$green-instockLabel: #158463;
$red-outOfStockLabel-errorStates-deleteIcon: #C94515;