@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin tablet {
    @media (min-width:768px) and (max-width:1279px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:1280px) {
        @content;
    }
}