$mobile-h1PageHeader_textSize: 1.75rem;
$mobile-h1PageHeader_lineHeight: 2.25rem;
$mobile-h2SubHeader_textSize: 1.25rem;
$mobile-h2SubHeader_lineHeight: 1.75rem;
$mobile-h3LabelsLinksButtons_textSize: 0.8125rem;
$mobile-h3LabelsLinksButtons_lineHeight: 1.25rem;
$mobile-h4TableHeader_textSize: 0.6875rem;
$mobile-h4TableHeader_lineHeight: 1rem;
$mobile-p1BodyLarge_textSize: 0.9375rem;
$mobile-p1BodyLarge_lineHeight: 1.625rem;
$mobile-p2BodyMedium_textSize: 0.8125rem;
$mobile-p2BodyMedium_lineHeight: 1.25rem;
$mobile-p3BodySmall_textSize: 0.6875rem;
$mobile-p3BodySmall_lineHeight: 1rem;


$tabletDesktop-h1PageHeader_textSize: 2rem;
$tabletDesktop-h1PageHeader_lineHeight: 2.5rem;
$tabletDesktop-h2SubHeader_textSize: 1.5rem;
$tabletDesktop-h2SubHeader_lineHeight: 2rem;
$tabletDesktop-h3LabelsLinksButtons_textSize: 0.875rem;
$tabletDesktop-h3LabelsLinksButtons_lineHeight: 1.375rem;
$tabletDesktop-h4TableHeader_textSize: 0.75rem;
$tabletDesktop-h4TableHeader_lineHeight: 1.125rem;
$tabletDesktop-p1BodyLarge_textSize: 1rem;
$tabletDesktop-p1BodyLarge_lineHeight: 1.75rem;
$tabletDesktop-p2BodyMedium_textSize: 0.875rem;
$tabletDesktop-p2BodyMedium_lineHeight: 1.375rem;
$tabletDesktop-p3BodySmall_textSize: 0.75rem;
$tabletDesktop-p3BodySmall_lineHeight: 1.125rem;