@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  color: $slate-tableColumnHeaders-placeholderText;
  background-color: $white-globalWhite;
  text-align: center;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;

  @include tablet {
    justify-content: center;
    margin-top: 2rem;
  }

  // @include desktop {
  //   @include;
  // }
}
