@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/topography" as *;
@use "../../styles/partials/variables" as *;

.main {
  width: calc(100vw - 3rem);
  margin: 0 auto;
  margin-top: -4.5rem;
  background-color: $white-globalWhite;

  @include tablet {
    margin: 0 auto;
    margin-top: -6.25rem;
    border: 1px solid $cloud-outlines-dividers-borders-tableSortingIcon;
    border-radius: 4px;
  }

  @include desktop {
    width: calc(100vw - 12rem);
    margin: 0 auto;
    margin-top: -6.25rem;
  }
}
